include LICENSE
include README.md
include CHANGELOG.md
recursive-include django_generic_many_to_many_field *.py
recursive-include django_generic_many_to_many_field/migrations *.py
prune tests
prune .git
global-exclude __pycache__
global-exclude *.py[co]
